APP_NAME="{{ WEBSITE_APP_NAME }}"
APP_TITTLE="{{ WEBSITE_APP_TITLE }}"
AUTH_SERVER_URL=http://{{ WEBSITE_DOMAIN }}/services/authentication

DB_CONNECTION={{ DB_CONNECTION }}
DB_DATABASE={{ DB_DATABASE }}
DB_HOST={{ DB_HOSTNAME }}
DB_PASSWORD={{ DB_PASSWORD }}
DB_PORT={{ DB_PORT }}
DB_USER={{ DB_USERNAME }}
DB_USERNAME={{ DB_USERNAME }}

HOME_URL=http://{{ WEBSITE_DOMAIN }}
LANG_SERVER_URL=http://{{ WEBSITE_DOMAIN }}/services/languages
LOG_PATH={{ apache_log_dir }}/{{ WEBSITE_DOMAIN }}/
LOG_STATE=OFF
MAPSERVER_PATH=${HOME_URL}/cgi-bin/mapserv
PUBLIC_PATH={{ www_document_root }}


APP_ENV=dev
APP_KEY=base64:xZ6EM9C0L5dDvSvcoWb6RMxa1PePK/c65Sb39nBAicE=
APP_DEBUG=true
APP_URL=http://{{ WEBSITE_DOMAIN }}
MIX_APP_URL=http://{{ WEBSITE_DOMAIN }}

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST={{ REDIS_HOST }}
REDIS_PASSWORD={{ REDIS_PASSWORD }}
REDIS_PORT={{ REDIS_PORT }}

MAIL_DRIVER={{ MAIL_DRIVER }}
MAILGUN_ENDPOINT={{ MAILGUN_ENDPOINT }}
MAILGUN_DOMAIN={{ MAILGUN_DOMAIN }}
MAILGUN_SECRET={{ MAILGUN_SECRET}}
MAIL_FROM_ADDRESS=no-reply@gabon.globalorigin.org
MAIL_FROM_NAME=Gabon

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET={{ JWT_SECRET }}
MIX_JWT_SECRET={{ JWT_SECRET }}
