body {
    padding-bottom: 75px;
}
#intro {
    height: 75vh;
}

#intro {
    background: url("/images/macin.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.main-content {
    padding-top: 47px;
}

.main-side-nav{
    padding-left: 16rem;
}

table.table td, table.table th {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    vertical-align: middle;
}

.md-form .form-control:disabled{
    color: #ced4da;
}

.md-theme-default a:not(.md-button):hover {
    color: var(--md-theme-default-primary-on-background, rgba(68,138,255,0.8));
    text-decoration: none;
}

.paginate_button:hover {
    /*color: white !important;*/
    /*background-color: #007e33;*/

}
.pagination .page-item.active .page-link, .pagination .page-item .page-link:hover {
    transition: all .2s linear;
    border-radius: .125rem;
    background-color: #007e33;
    color: #fff;
}

.pagination .page-item.active .page-link:hover {
    background-color: #007e33;
}


.paginate_button {
    padding: 0.5em 0.2em;
}
/*.paginate_button {*/
/*    box-sizing: border-box;*/
/*    display: inline-block;*/
/*    min-width: 1.5em;*/
/*    padding: 0.5em 1em;*/
/*    margin-left: 2px;*/
/*    text-align: center;*/
/*    text-decoration: none !important;*/
/*    cursor: pointer;*/
/*    *cursor: hand;*/
/*    color: #333 ;*/
/*    border-radius: 2px;*/
/*}*/

.sorting_both {
    background-image: url(/images/table/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
.sorting_asc {
    background-image: url(/images/table/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
.sorting_desc {
    background-image: url(/images/table/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: green;
    left: 1.5rem;
}
.white-skin input[type=checkbox]:checked+label:before {
    border-right: 2px solid #4caf50;
    border-bottom: 2px solid #4caf50;
}
.form-check-input[type=checkbox]+label:before {
    border: 2px solid #4caf50;
}

.side-nav.fixed {
    transform: translateX(0%) !important;
}

.invalid-feedback {
    display: block !important;
}

.mt-40 {
    margin-top: 40px;
}

.page-loader {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: auto;
    right: 0;
    top: 0;
    align-items: center;
}


.aligned {
    vertical-align: middle;
}
.fz-16 {
    font-size: 16px;
}

.vue-switcher {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: 0.2em;
}
